<div class="container index-container my-3">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="mx-auto">
          <a href="/" class="btn btn-outline-info ml-3 mb-3">新增支出</a>
        </div>
        <div class="col-12">
          <form class="d-flex" name="filter-form" action="/" method="GET">
            <div class="container-fluid form-group filter-dropdown">
              <select name="filter" class="form-control mx-auto" id="expense-filter" onchange="submit()"
                style="cursor: pointer; max-width: 80%;">
                <option value="selected hidden">支出分類</option>
                <option value="housewares">家居物業</option>
                <option value="transportation">交通出行 </option>
                <option value="entertainment">休閒娛樂</option>
                <option value="consumption">餐飲食品</option>
                <option value="others">其他</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mr-auto">
          <p class="mt-3 ml-5 font-weight-bold total-amount-text">總金額</p>
        </div>
        <div class="col-auto">
          <p class="total-amount-number">totalAmount</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group">
    {{#each records}}
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <li class="list-group-item">
          <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center category-icon">
              <i class="{{this.iconClass}}"></i>
            </div>
            <div class="col-auto mr-auto">
              <p class="my-3 font-weight-bold record-name">{{ this.name }}</p>
              <p class="my-3 font-weight-bold record-name">{{ this.date }}</p>
            </div>
            <div class="col-auto d-flex align-items-center">
              <p class="font-weight-bold record-amount">{{this.amount}}</p>
            </div>
          </div>
        </li>
      </div>
    </div>
    {{/each}}
  </ul>
</div>