<div class="container new-container mt-3 px-5">
  <div class="row">
    <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">*為必填</div>
    <div class="col-12 col-sm-9 text-center">
      <h3 class="font-weight-bold m-0">新增支出</h3>
    </div>
  </div>

  {{!-- form --}}
  <form action="/records" method="POST">
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="name" class="col-form-label font-weight-bold">名稱：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" class="form-control" name="name" id="name" placeholder="請輸入名稱" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="date" class="col-form-label font-weight-bold">日期：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" id="datepicker" name="date" class="form-control" placeholder="請輸入日期"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="請輸入西元年-月-日 ex: 2021-05-20" required>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="category" class="col-form-label font-weight-bold">類別：</label>
      </div>
      <div class="col-12 col-sm-9">
        <select class="form-control" name="category" id="category" required>
          <option selected disabled>請選擇類別</option>
          <option value="living">家居物業</option>
          <option value="traffics">交通出行</option>
          <option value="entertainments">休閒娛樂</option>
          <option value="meals">餐飲食品</option>
          <option value="others">其他</option>
        </select>
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="name" class="col-form-label font-weight-bold">金額：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="number" class="form-control" name="amount" id="amount" min="1" max="100000000" required
          placeholder="請輸入金額 1~100000000">
      </div>
    </div>
    <div class="row form-group mt-4">
      <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
        <label for="merchant" class="col-form-label font-weight-bold">商家：</label>
      </div>
      <div class="col-12 col-sm-9">
        <input type="text" class="form-control" name="merchant" id="merchant" placeholder="請輸入名稱">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 ml-auto text-center">
        <a href="/" class="btn btn-secondary ">返回</a>
        <button type="submit" class="btn btn-primary  ">送出</button>
      </div>
    </div>
  </form>
</div>