<form action="/records" method="POST">
  <input type="text" placeholder="name" id="name" name="name">
  <input type="text" placeholder="date" id="date" name="date">
  <input type="text" placeholder="category" id="category" name="category">
  <input type="text" placeholder="amount" id="amount" name="amount">
  <button type="submit">Create</button>
</form>